body {
  /* background-color: rgb(92, 140, 183); */
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  }

.header-menu {
    margin-right: 80px;
    margin-left: 80px;
}

.top-buffer { margin-top:8px; }